<div class="content">
    <div class="searching-container">
        <h2>Wyszukaj termin</h2>
        <form [formGroup]="searchForm" (ngSubmit)="save()" *ngIf="isVisibleForm" class="form">
            <div class="speccity">
                <mat-form-field>
                    <mat-select placeholder="Długość wizyty" formControlName="visitTime">
                        <mat-option *ngFor="let o of options" [value]="o.value">{{ o.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="specjalizacja lekarza" [(value)]="speciality" formControlName="role">
                        <mat-option *ngFor="let spec of uniqueSpecArray" [value]="spec">{{ spec }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                    <!-- <mat-select placeholder="miasto" multiple class="multiSelectCity" formControlName="city">
                        <mat-option *ngFor="let city of citiesArray" [value]="city">{{ city }}</mat-option>
                    </mat-select> -->
                    <mat-select placeholder="miasto" formControlName="city">
                        <mat-option *ngFor="let city of citiesArray" [value]="city">{{ city }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="datetime">
                <mat-form-field>
                    <mat-label for="dateFrom">od</mat-label>
                    <input matInput type="date" name="dateFrom" formControlName="dateFrom" />
                </mat-form-field>

                <!-- <mat-form-field>
                    <mat-label for="dateTo">do</mat-label>
                    <input matInput type="date" name="dateTo" formControlName="dateTo" />
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label for="timeFrom">od godziny</mat-label>
                    <input matInput type="time" name="timeFrom" formControlName="timeFrom" />
                </mat-form-field>
            </div>

            <input type="submit" value="Szukaj" class="searchInput" (click)="showList()" />
        </form>
        <div *ngIf="this.searching" class="noResults">
            <ng-container *ngIf="!!termsArray.length; else noItemTmpl">
                <app-term-list [termsArray]="termsArray" [loadDataSpinner]="loadDataSpinner" (newItemEvent)="loadMore($event)"></app-term-list>
            </ng-container>
            <ng-template #noItemTmpl>Brak wyników</ng-template>
        </div>
    </div>
</div>
