<div id="content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Imie </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef> Nazwisko </th>
          <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
        </ng-container>
      
        <!-- specialization -->
        <ng-container matColumnDef="specialization">
          <th mat-header-cell *matHeaderCellDef> Specjalność </th>
          <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Miasto </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
          </ng-container>

        <!-- Choose Column -->
        <ng-container matColumnDef="icons">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> 
            <input type="button" value="Wybierz" (click)="confirmTerm()">
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div id="confirmWindow" [hidden]="isVisible">
          <h2>Potwierdź wizytę!</h2>
          <textarea placeholder="powód wizyty (opcjonalne)"></textarea>
          <input type="button" value="wróć" style="margin: 10px;" (click)="confirmTerm()">
          <input type="button" value="potwierdź" style="margin: 10px;" (click)="confirmTerm()">
      </div>
</div>
