<header>
  <div id="logo">
    <h1><a href="/"> <i class="fa fa-heartbeat" style="font-size:36px;color:white"></i> MedApp </a> </h1>
  </div>
  <div id="menu">
    <ul>
      <li><a routerLink="/zaloguj">Zaloguj</a></li>
      <li><a routerLink="/zarejestruj">Zarejestruj</a></li>
      <li><a routerLink="/admin">Admin</a></li>
      <li><a routerLink="/pacjent">Pacjent</a></li>
      <li><a routerLink="/mojeWizyty">Moje wizyty</a></li>
    </ul>
  </div>
</header>
<main>

 <router-outlet></router-outlet>
</main>
<footer>
 &copy; Kacper Kubit 2022
</footer>