<div id="content">
    <div id="container">
        <div id="photo">
            <img src="/assets/img/avatar_640.png">
        </div>
        <div id="editForm" *ngIf="isLoaded">
            <h2>Edytuj dane</h2>
            <input type="text" placeholder="Imie" name="imie" [value]="nameInputValue">
            <input type="text" placeholder="Nazwisko" name="surname" [value]="surnameInputValue">
            <input type="text" placeholder="Specjalizacja" name="speciality" [value]="specialityInputValue">
            <input type="text" placeholder="Miasto" name="city" [value]="cityInputValue">
        </div>
        <div id="grafik">
            <h2>Zarządzaj grafikiem</h2>
            <ul>
                <li *ngFor="let term of scheduleDataArray">
                    {{term.data.split('T')[0]}} od {{term.od_godziny}} do {{term.do_godziny}}
                    <mat-icon (click)="editTerm()">edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>               
            </ul>   
            <input type="button" value="Dodaj dzień w grafiku">
        </div>
        <div id="term">
            <h2>Zarządzaj terminami</h2>
            <ul>
                <li>
                    15.07.2022 13.45 
                    <mat-icon (click)="editTerm()">edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
                <li>
                    15.07.2022 13.45 
                    <mat-icon (click)="editTerm()">edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
                <li>
                    15.07.2022 13.45 
                    <mat-icon (click)="editTerm()">edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
                <li>
                    15.07.2022 13.45 
                    <mat-icon (click)="editTerm()">edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
            </ul>   
            <input type="button" value="Dodaj termin">
        </div>
        <div id="editDoctor" [hidden]="isVisibleEdit" >
            <h2>Edytuj termin</h2>
            <label for="dateFrom">data</label>
            <input type="date" name="dateFrom">
            <hr>
            <label for="timeFrom">od godziny</label>
            <input type="time" name="timeFrom">
            <hr>
            <input type="button" value="Wróć" (click)="editTerm()">
            <input type="button" value="Zatwierdź" (click)="editTerm()">
        </div>
    </div>
</div>
