<div id="content">
    <div id="container">
        <div id="photo">
            <img src="/assets/img/avatar_640.png">
        </div>
        <div class="term">
            <h2>Poprzednie wizyty</h2>
            <ul>
                <li>
                    15.07.2022 13.45 kardiolog Jan Kowalski
                </li>
                <li>
                    15.07.2022 13.45 kardiolog Jan Kowalski
                </li>
                <li>
                    15.07.2022 13.45 kardiolog Jan Kowalski
                </li>
                
            </ul>   
        </div>
        <div class="term">
            <h2>Zaplanowane wizyty</h2>
            <ul>
                <li>
                    15.07.2022 13.45 
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
                <li>
                    15.07.2022 13.45 
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
                <li>
                    15.07.2022 13.45 
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
                <li>
                    15.07.2022 13.45 
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </li>
            </ul>   
        </div>

        <div id="dane">
            <p>Imie</p>
            <p>Nazwisko</p>
        </div>
    </div>
</div>
